include mixin-my-picture.pug

doctype html5
html
  head
    link(rel="stylesheet", href=require('/styles/styles.scss'))

  body
    h1 doctype html5 - outer mixin doesn't generate slash for self closing tags: &lt;img <b>/<b>&gt;, &lt;link <b>/<b>&gt;, ..

    h2 picture + img - mixin
    h3 doesn't work
    +my-picture

    hr

    h2 picture + img - not mixin
    h3 works
    picture
      source(
        srcset=require(`/assets/img/image.png`)
        type='image/png'
      )
      img(
        src=require(`/assets/img/image.jpeg`)
        alt=''
      )

    script(src=require('~Scripts/main.js'))
